<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Call Drop Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Call Drop Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="ENB ID" placeholder="ENB ID" required="required" /><br>
    	<input type="text" name="cNum" placeholder="cNum" required="required" /><br>
        <input type="text" name="Band" placeholder="Band" required="required" /><br>
        <input type="text" name="Sector" placeholder="Sector" required="required" /><br>
        <input type="text" name="Scope" placeholder="Scope" required="required" /><br>
        <input type="text" name="NE_STATE" placeholder="NE_STATE" required="required" /><br>
        <input type="text" name="TotPrbDLAvg_BBH" placeholder="TotPrbDLAvg_BBH" required="required" /><br>
        <input type="text" name="RAN_VoLTE_Drop_Rate_Nom_check_counter" placeholder="RAN_VoLTE_Drop_Rate_Nom_check_counter" required="required" /><br>
        <input type="text" name="Session Setup Success Rate %" placeholder="Session Setup Success Rate %" required="required" /><br>
        <input type="text" name="Session Setup Success Rate_Nom" placeholder="Session Setup Success Rate_Nom" required="required" /><br>
        <input type="text" name="Handover_Success_Rate_New_Check_counter" placeholder="Handover_Success_Rate_New_Check_counter" required="required" /><br>
        <input type="text" name="RAN_Intra_eNB_Handover_Attempt" placeholder="RAN_Intra_eNB_Handover_Attempt" required="required" /><br>
        <input type="text" name="RAN_Inter_X2_Out_Handover_Success" placeholder="RAN_Inter_X2_Out_Handover_Success" required="required" /><br>
        <input type="text" name="VoLTE_Handover Success Rate" placeholder="VoLTE_Handover Success Rate" required="required" /><br>
        <input type="text" name="RSSI_Exception_Quarter Hour" placeholder="RSSI_Exception_Quarter Hour" required="required" /><br>
        <input type="text" name="RSSI_Exception_Quarter Hour_>-95dbm" placeholder="RSSI_Exception_Quarter Hour_>-95dbm" required="required" /><br>
        <input type="text" name="ATTACH_Fails" placeholder="ATTACH_Fails" required="required" /><br>
        <input type="text" name="% TA Samples > 2KM" placeholder="% TA Samples > 2KM" required="required" /><br>
        <input type="text" name="coveragehole+coverageholeN" placeholder="coveragehole+coverageholeN" required="required" /><br>
        <input type="text" name="[0x034C]Ecc_S1SctpOutOfService" placeholder="[0x034C]Ecc_S1SctpOutOfService" required="required" /><br>
        <input type="text" name="RAN_AVG_CQI_Nom_P1_BBH" placeholder="RAN_AVG_CQI_Nom_P1_BBH" required="required" /><br>
        <input type="text" name="RAN_AVG_CQI_P1_BBH" placeholder="RAN_AVG_CQI_P1_BBH" required="required" /><br>
        <input type="text" name="Radio Network Availability" placeholder="Radio Network Availability" required="required" /><br>
        <input type="text" name="IP THR_BBH" placeholder="IP THR_BBH" required="required" /><br>
        <input type="text" name="IP_thru_BBH_Nom" placeholder="IP_thru_BBH_Nom" required="required" /><br>
        <input type="text" name="IP_thru_BBH_Denom" placeholder="IP_thru_BBH_Denom" required="required" /><br>

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>